body {
  background-color: #ff6;
  display: flex;
  justify-content: center;
}

.container {
  background: rgba(0, 191, 255, 1);
  width: 380px;
  padding: 20px;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: 2px 2px 2px #66ff33;
  border-radius: 50px;
}

.icon {
  position: absolute;
  top: 30px;
  right: 36px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 24px;
  color: #ffffff;
}

.camera {
  width: 380px;
  height: 380px;
  box-shadow: 2px 2px 4px rgba(100, 200, 0, 1);
  border-radius: 10%;
  background-color: #ff6f5e;
}

.name {
  text-align: center;
  margin-top: 1px;
  font-size: 40px;
  font-weight: 900;
  font-family: cursive;
  color: bisque;
}

.percent {
  text-align: left;
  font-size: 20px;
  font-family: math;
  color: crimson;
}

.description {
  margin-top: 10px;
  padding: 1px;
  font-size: medium;
  font-family: -webkit-pictograph;
  color: azure;
}

.icon .invisible {
  display: none;
}
